<ion-header>
  <ion-toolbar>
    <!-- Logo como botón del menú -->
    <ion-buttons slot="start">
      <ion-img 
        src="assets/duoc.png" 
        id="logo" 
        (click)="openMenu()"
      ></ion-img>
    </ion-buttons>

    <!-- Título -->
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Swiper Section -->
  <swiper-container
    style="margin: 20px auto; height: 200px;"
    [pagination]="{ clickable: true }"
    [navigation]="true"
  >
    <swiper-slide *ngFor="let image of images">
      <img [src]="image" style="width: 100%; height: auto;"/>
    </swiper-slide>
  </swiper-container>

 
  <div id="container">
    <strong>Duoc Events</strong>
    <p>
      Bienvenidos a nuestras actividades académicas y tecnológicas.
      Aquí podrás inscribirte a nuestro evento en el que habrá actividades, talleres y ¡¡Mucho más!!
    </p>
    <h1>SOLO EN IT-EVENT!!!!</h1>
    <br>
    <h1>HORARIO DEL EVENTO</h1>
    <h2>Lunes 16 de Diciembre</h2>
    <h2 class="evento-hora">Desde: 11:00 a 17:00</h2>
    <h2>Martes 17 de Diciembre</h2>
    <h2 class="evento-hora">Desde: 13:00 a 19:00</h2>
  </div>
</ion-content>